<div class="col-md-3 sidebar">
    <div class="myLeague">
        <h5>My League</h5>
    </div>
    <a href="#">
        <div id="l1" class="league-item active">
            <img src="/img/orange-f.jpeg" alt="Orange First Division" width="30">
            <h4>Orange First Division</h4>
        </div>
    </a>
    <a href="#">
        <div id="l2" class="league-item">
            <img src="/img/orange-s.jpeg" alt="Orange Second Division" width="30">
            <h4>Orange Second Division</h4>
        </div>
    </a>
    <a href="#">
        <div id="l3" class="league-item">
            <img src="/img/orange-w.png" alt="Orange Women Division" width="30">
            <h4>Orange Women Division</h4>
        </div>
    </a>
    <a href="#">
        <div id="l4" class="league-item">
            <img src="/img/meet.jpg" alt="National County Meet" width="30">
            <h4>National County Meet</h4>
        </div>
    </a>
</div>